.displayShow
{
    display: block;
}

.displayHide
{
    display: none;
}

.clickable
{
    cursor: pointer;
}

table.objectTableIE th.defaultMode {
    border-width: 1px;
    padding: 1px;
    border-style: solid;
    border-color: darkblue;
    background-color: #487EB5;
    font-size: x-small;
    color: white;
    text-align: center;
}

table.objectTableIE tr td.defaultMode {
    border-width: 1px;
    border-style: solid;
    border-color: darkblue;
    background-color: #E6E9F5;
}

table.IteractiveFrame {
    border-width: medium;
    border-style: solid;
    border-color: grey;
    border-collapse: separate;
    width: 100%;
}

table.IteractiveFrame th.titleMode {
    text-align: left;
    font-family: Arial;
    color: #2A2391;
    font-size: medium;
    white-space: nowrap;
    padding: 2px;
}

table.IteractiveFrame th.highlightTitleMode {
    text-align: left;
    font-family: Arial;
    color: grey;
    font-size: medium;
    white-space: nowrap;
    padding: 2px;
    background-color: lightgrey;
}

table.IteractiveFrame td {
    font-family: Arial;
    font-size: x-small;
    padding: 5px;
}
